body {
	animation: fadein 1s;
	
	color: #333333;
	font-family: 'Roboto Mono', monospace;
	font-size: 16px;
	font-weight: 300;
	padding: 100px 0px 100px 0px;
	width: 1080px;
	margin: 0px auto 0px auto;
}

section {
	padding:25px 10% 25px 10%;
}

div {
	width: 500px;
}

img {
	max-width: 500px;
}

h1 {
	max-width: 500px;
	font-size: 20px;
	font-weight: 300;
}

h2 {
	max-width: 500px;
	font-size: 16px;
	font-weight: bold;
}

p {
	max-width: 500px;
}

footer p {
	color: #999999;
	font-size: 12px;
}

a {
	color: #999999;
	text-decoration: none;
}

a:hover {
	color: #cccccc;
	transition: color 0.25s ease;
}

.italics {
	color: #999999;
	font-style: italic;
}

img {
	transition: transform 0.25s ease;
}

img:hover {
	transform: scale(1.01);
}

ul {
	list-style: none;
	padding-left: 0px;
}

button {
	background-color: #333333;
	border: none;
	border-radius: 4px;
	display: inline-block;
	padding: 10px 25px 10px 25px;
	color: #ffffff;
	font-size: 18px;
	text-decoration: none;
	cursor:pointer;
	
	transition: background-color 0.25s ease;
	transition: transform 0.25s;
}

button:hover {
	background-color: #999999;
	transform: scale(1.05);
}

@media only screen and (max-width: 1080px) {
	body {
		width: auto;
		margin: 0px;
	}
	img {
		max-width: 100%;
	}
	h1 {
		font-size: 22px;
		max-width: 100%;
	}
	p {
		font-size: 18px;
		max-width: 100%;
	}
	a {
		font-size: 18px;
	}
	button {
		font-size: 24px;
	}
	div {
		width: 100%;
	}
}

/* Animations */
@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes pulse {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
